/* change these */

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
  --bg-color: #f2f2f2;
  --link-color: #01401c;
  --link-hover-color: #038c4c;
  --color-4: #02733e;
  --color-5: #0d0d0d;

  --primary-font: "Urbanist", sans-serif;
  --secondary-font: "Urbanist", sans-serif;
  --main-text-color: #000;

  --white-space: 1rem;
}

/*button*/

button {
  transition: all 1s;
  background-color: white;
  border-color: #01401c;
  border-radius: 6px;
  width: 10rem;
  height: 2rem;
  border: 1px solid #02733e;
}
a {
  transition: all 1s;
}
button:hover {
  color: #038c4c;
}

button:active {
  background-color: var(--bg-color);
}

/*link*/

li {
  list-style: none;
}

a:hover {
  color: #038c4c;
  animation: animate 5s linear infinite;
}

.content__item::before {
  color: var(--color-number);
  position: absolute;
  top: 0;
  left: 0;
  content: counters(itemcounter, ".", decimal-leading-zero);
}

.link::before,
.link::after {
  position: absolute;
  width: 10%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: "";
  /* show by default */
}

.link--metis {
  font-family: "urbanist", sans-serif;
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 2);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 30%;
  transform: scale3d(1, 1, 1);
}

/*link*/

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
  background-color: #f2f2f2;
}

.header-wrapper h1 {
  font-size: 3rem;
  letter-spacing: -2px;
  padding-right: 0.75em;
  font-weight: 500;
  color: black;
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: black;
  font-weight: 400;
  margin: var(--white-space) 0;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  color: black;
  font-weight: 300;
}

.header-wrapper h4 {
  font-size: 0.8rem;
  color: black;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--link-color);
}

.color-swatch-3 {
  background-color: var(--link-hover-color);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.textures li {
  height: 30vw;
  width: 40%;
  margin-right: 5vw;
}

.texture-swatch-1 {
  background: url(/img/thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg) top left repeat;
  background-size: 40%;
  opacity: 70%;
}

.texture-swatch-2 {
  background: url(/img/wesley-tingey-_0sEjWfAK3Q-unsplash.jpg) no-repeat;
  background-size: 100%;
}

.texture-swatch-1 {
  background: url(../img/annie-spratt-g5DkG2ZF7ZY-unsplash.jpg) no-repeat;
  background-size: 100%;
  opacity: 70%;
}

.texture-swatch-3 {
  background: url(../img/thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg) no-repeat;
  background-size: 200%;
  opacity: 50%;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

.secondary-button {
  background: white;
}

button:focus,
button:active,
button:focus-within {
  outline: 5px;
  border-radius: 4px;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
  color: #01401c;
}

.h2-sample {
  font-family: var(--secondary-font);
  font-size: 1, 1 rem;
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
  font-weight: 300;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 100px;
    width: 100px;
    margin-top: 7%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
